@page
@using Entities
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<Offer> offersList = Model.GetList();
}

<div class="text-center">

<div id="xspreadsheet"></div>

<!-- #panel>form>button+button+button -->

<style>
#panel form button {
    display: inline-block;
}
</style>
<div id="panel">
<form action="" method="">
    <h2>Job offers control panel</h2>
    <div>
    @* <summary>
        <details>
        <ul>
            <li><label><input type="checkbox" checked> LinkedIn</label></li>
            <li><label><input type="checkbox" checked> WeWork</label></li>
            <li><label><input type="checkbox" checked> Pracuj.pl</label></li>
        </ul>
        </details>
    </summary> *@
    <button type="submit" name="cmd" value="lookForNewOffers">check for new offers</button>
    </div>
    <div><button name="cmd" value="refresh" id="refresh-btn">refresh</button></div>
    <div><button id="clear-btn">clear database</button></div>
    <div><button>download xls</button></div>
  </form>
  <div><button id="add-btn">add to db</button></div>
</div>

<script>

  let offersCount = 0;
  function buildXSpreadsheetRowsFromData(data) {
    offersCount = data.length;
    const rows = {
      len: data.length + 20,
    }
    rows[0] = {
      cells: {
        0: { text: "id" },
        1: { text: "offerLink" },
        2: { text: "logoLink" },
        3: { text: "title" },
        4: { text: "companyName" },
        5: { text: "companySize" },
        6: { text: "addedDate" },
        7: { text: "publishedDate" },
        8: { text: "workSchedule" },
        9: { text: "location" },
        10: { text: "salary" },
        11: { text: "remote" },
        12: { text: "contract" },
        13: { text: "tags" },
        14: { text: "postedSite" },
        15: { text: "description" }
      }
    }
    for (let i = 0; i < data.length; i++) {
      rows[i + 1] = {
        cells: {
            0: { text: data[i].id },
            1: { text: data[i].offerLink },
            2: { text: data[i].logoLink },
            3: { text: data[i].title },
            4: { text: data[i].companyName },
            5: { text: data[i].companySize },
            6: { text: data[i].addedDate },
            7: { text: data[i].publishedDate },
            8: { text: data[i].workSchedule },
            9: { text: data[i].location },
            10: { text: data[i].salary },
            11: { text: data[i].remote },
            12: { text: data[i].contract },
            13: { text: data[i].tags },
            14: { text: data[i].postedSite },
            15: { text: data[i].description }
        }
      }
    }
    return rows
  }

  function getOffers(url) {
    return fetch(url).then(response => response.json());
  }

  const SHEET = x_spreadsheet('#xspreadsheet');
  getOffers("/offers").then(data => {
    console.log(data);
    SHEET.loadData([{
      rows: buildXSpreadsheetRowsFromData(data),
      cols: {
        0: { width: 10 }
      }
    }])
  });

  SHEET.on('cell-edited', (text, ri, ci) => {

    if (SHEET.cell(0, ci).text == "addedDate") return;

    if (SHEET.cell(ri, 0) != undefined) {

      let id = SHEET.cell(ri, 0).text;

      let obj = [{
        op: "replace",
        path: SHEET.cell(0, ci).text,
        value: text
      }];
      
      fetch(`/offers/${id}`, {
        "method": "PATCH",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": JSON.stringify(obj)
      })
      .then(response => {
        console.log(response);
      })
      .catch(err => {
        console.error(err);
      });

    }

  });

  function clearDatabase() {
    fetch("/offers", {
      "method": "DELETE",
      "headers": {}
    })
    .then(response => {
      console.log(response);
    })
    .catch(err => {
      console.error(err);
    });
  }

  function addToDb() {
    let i = offersCount;
    let newOffers = [];
    for(let i = offersCount + 1; i < offersCount + 22; i++) {

      if(SHEET.cell(i, 3) != undefined) {
        
        newOffer = {
          offerLink: SHEET.cell(i, 1).text,
          logoLink: SHEET.cell(i, 2).text,
          title: SHEET.cell(i, 3).text,
          companyName: SHEET.cell(i, 4).text,
          companySize: SHEET.cell(i, 5).text,
          publishedDate: SHEET.cell(i, 7).text,
          workSchedule: SHEET.cell(i, 8).text,
          location: SHEET.cell(i, 9).text,
          salary: SHEET.cell(i, 10).text,
          remote: SHEET.cell(i, 11).text,
          contract: SHEET.cell(i, 12).text,
          tags: SHEET.cell(i, 13).text,
          postedSite: SHEET.cell(i, 14).text,
          description: SHEET.cell(i, 15).text,
        }

        newOffers.push(newOffer);

      }

    }

    if (newOffers.length > 0) {
      fetch("/offers/m", {
        "method": "POST",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": JSON.stringify(newOffers)
      })
      .then(response => {
        console.log(response);
      })
      .catch(err => {
        console.error(err);
      });
    }

  }

  const refreshBtn = document.getElementById("refresh-btn");
  refreshBtn.addEventListener("click", getOffers);
  const clearBtn = document.getElementById("clear-btn");
  clearBtn.addEventListener("click", clearDatabase);
  const addBtn = document.getElementById("add-btn");
  addBtn.addEventListener("click", addToDb);

  //document.querySelector('listed-time > time').getAttribute("datetime");

</script>

</div>
