@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    
    

    <table>

        <script>

            const table = document.querySelector('table');

            window.addEventListener("onload", () => {
                showOffers();
            })

            const showOffers = () => {
                fetch("/offers")
                .then(response => response.json())
                .then(offers => {
                    for (let i = 0; i < offers.length; i++) {
                        let row = document.createElement("tr");
                        row.innerHTML = `<td> ${offers[i].logoLink} </td> <td> ${offers[i].title} </td> <td> ${offers[i].companyName} </td>`
                        table.appendChild(row);
                    }
                })
            }

        </script>

    @for(int i = 0; i < 10; i++) {
        <tr>
            <td> I: @i </td>
        </tr>
    }
    </table>
</div>
