@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    
    

    <table>

    @foreach(var offer in offersList) {
        <tr>
            <td> </td>
        </tr>
    }
    </table>
</div>
